:root {
	/* Layout */
	--head-height: 75px;
	--navi-width: 200px;
	--body-width: 560px;
	--footer-height: var(--head-height);
	
	/* Color */
	--base-h: 205;
	
	--head-color: hsl(var(--base-h), 7%, 14%, 1);
	--navi-color: hsl(0, 0%, 6%, 1);
	--body-color: hsl(0, 0%, 0%, 1);
	--map-color: hsl(0, 0%, 5%, 1);
	--footer-color: var(--head-color);
	
	--seleted-color: hsl(var(--base-h), 100%, 50%, 1);
}

body {
	width: 100vw;
	height: 100vh;
	
	display: grid;
	grid-template-columns: var(--navi-width) var(--body-width) minmax(calc(1100px - var(--navi-width) - var(--body-width)), auto);
	grid-template-rows: var(--head-height) minmax(450px, auto) var(--footer-height);
	grid-template-areas: 
		'header header header'
		'navi body map'
		'footer footer footer';
	align-content: stretch;
}
body.theme-white {
	--base-h: 220;

	--head-color: hsl(var(--base-h), 100%, 83%, 1);
	--navi-color: hsl(var(--base-h), 60%, 90%, 1);
	--body-color: hsl(var(--base-h)20, 60%, 98%, 1);
	--map-color: hsl(0, 0%, 65%, 1);
	--footer-color: var(--head-color);
}


.body-header {
	grid-area: header;
	background-color: var(--head-color);
	
	display: grid;
	grid-template-columns: auto repeat(2, 230px);
}

.body-header #changeTheme {
	width: 100%;
	height: 100%;
	font-size: 11pt;
}

.body-header #goExpert {
	font-size: 12pt;
	font-weight: 500;
	color: #fff;
	background-color: var(--seleted-color);
}


.body-navi {
	grid-area: navi;
	background-color: var(--navi-color);
}


.body-body {
	grid-area: body;
	background-color: var(--body-color);
}


.body-map {
	grid-area: map;
	background-color: var(--map-color);
}


.body-footer {
	grid-area: footer;
	background-color: var(--footer-color);
}